<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normalLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,75}</string>
                <key>spriteSourceSize</key>
                <string>{43,75}</string>
                <key>textureRect</key>
                <string>{{229,1},{43,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_game.png</string>
            <key>size</key>
            <string>{273,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1797db9d1122872c264f01ad382ac8bf:db89dd85233d008f488574aa4832be40:1a51ee05fa5bcb6de76caab821ec3a4a$</string>
            <key>textureFileName</key>
            <string>ui_game.png</string>
        </dict>
    </dict>
</plist>
