<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{503,983},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{791,714},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,44}</string>
                <key>spriteSourceSize</key>
                <string>{61,44}</string>
                <key>textureRect</key>
                <string>{{763,975},{61,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check1Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{933,443},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check2Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{933,529},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check3Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{876,704},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check4Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{832,867},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check5Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{913,867},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{894,357},{31,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deepLockShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{49,69}</string>
                <key>textureRect</key>
                <string>{{766,571},{49,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>excellent!Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,61}</string>
                <key>spriteSourceSize</key>
                <string>{307,61}</string>
                <key>textureRect</key>
                <string>{{503,674},{307,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,345}</string>
                <key>spriteSourceSize</key>
                <string>{500,345}</string>
                <key>textureRect</key>
                <string>{{1,674},{500,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giftShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{791,622},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayCircleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{649,869},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halfBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,83}</string>
                <key>spriteSourceSize</key>
                <string>{185,83}</string>
                <key>textureRect</key>
                <string>{{864,1},{185,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,42}</string>
                <key>spriteSourceSize</key>
                <string>{141,42}</string>
                <key>textureRect</key>
                <string>{{949,1},{141,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,671}</string>
                <key>spriteSourceSize</key>
                <string>{655,671}</string>
                <key>textureRect</key>
                <string>{{1,1},{655,671}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{649,971},{52,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lockShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{949,144},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longBackShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{89,59}</string>
                <key>textureRect</key>
                <string>{{871,613},{89,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mission1Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,81}</string>
                <key>spriteSourceSize</key>
                <string>{158,81}</string>
                <key>textureRect</key>
                <string>{{566,674},{158,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mission2Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,81}</string>
                <key>spriteSourceSize</key>
                <string>{158,81}</string>
                <key>textureRect</key>
                <string>{{566,834},{158,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mission3Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,81}</string>
                <key>spriteSourceSize</key>
                <string>{158,81}</string>
                <key>textureRect</key>
                <string>{{766,411},{158,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mission4Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,81}</string>
                <key>spriteSourceSize</key>
                <string>{158,81}</string>
                <key>textureRect</key>
                <string>{{819,197},{158,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mission5Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,81}</string>
                <key>spriteSourceSize</key>
                <string>{158,81}</string>
                <key>textureRect</key>
                <string>{{902,188},{158,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moreShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{746,869},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{849,514},{97,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{102,82}</string>
                <key>textureRect</key>
                <string>{{849,410},{102,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,115}</string>
                <key>spriteSourceSize</key>
                <string>{131,115}</string>
                <key>textureRect</key>
                <string>{{658,623},{131,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resetShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,80}</string>
                <key>spriteSourceSize</key>
                <string>{85,80}</string>
                <key>textureRect</key>
                <string>{{932,615},{85,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{79,93}</string>
                <key>textureRect</key>
                <string>{{933,348},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stageText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,23}</string>
                <key>spriteSourceSize</key>
                <string>{84,23}</string>
                <key>textureRect</key>
                <string>{{957,702},{84,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{912,953},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{716,975},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,78}</string>
                <key>spriteSourceSize</key>
                <string>{69,78}</string>
                <key>textureRect</key>
                <string>{{832,953},{69,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{819,357},{51,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipsHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,89}</string>
                <key>spriteSourceSize</key>
                <string>{66,93}</string>
                <key>textureRect</key>
                <string>{{778,799},{66,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vidioShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,75}</string>
                <key>textureRect</key>
                <string>{{876,790},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,212}</string>
                <key>spriteSourceSize</key>
                <string>{159,212}</string>
                <key>textureRect</key>
                <string>{{658,197},{159,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBWhiteBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,106}</string>
                <key>spriteSourceSize</key>
                <string>{210,106}</string>
                <key>textureRect</key>
                <string>{{658,411},{210,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellowBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{649,740},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowSmallBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,28}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{982,702},{60,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellowStarShape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,194}</string>
                <key>spriteSourceSize</key>
                <string>{204,194}</string>
                <key>textureRect</key>
                <string>{{658,1},{204,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_view.png</string>
            <key>size</key>
            <string>{1013,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4246fd55e71a608c18f5cc3e3ff925d1:0008749a9ab4535593d9b031fb1fb496:b1c26fa13c8de854d73db210ad0cec7a$</string>
            <key>textureFileName</key>
            <string>ui_view.png</string>
        </dict>
    </dict>
</plist>
